apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
    name: hpa-checkout
    namespace: checkout
spec:
    scaleTargetRef:
        apiVersion: apps/v1
        kind: Deployment
        name: deployment-checkout
    minReplicas: 1
    maxReplicas: 6
    metrics:
        - type: Resource
          resource:
            name: cpu
            target:
                type: Utilization
                averageUtilization: 50
        